.theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  color: var(--header-text);
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.theme-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(15deg);
}

.theme-toggle-button svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .theme-toggle-button {
    padding: 5px;
  }
  
  .theme-toggle-button svg {
    width: 20px;
    height: 20px;
  }
}